/* PLUGINS */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* BASE STYLES */
p, a, button, * {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 2.5rem;
  text-align: center; }

#fullPageWrap {
  display: block;
  background-image: url(../../img/pexels-photo-2710822.png);
  background-size: cover;
  width: 100%;
  height: 100vh; }

/* LAYOUT STYLES */
/* MODULE STYLES */
/* NAV BAR STYLES */
.navbar-custom {
  background-color: transparent; }

#logo-btn img {
  height: 75px; }

.nav-item {
  font-size: 1.35rem; }

.active .nav-link {
  color: #749efd; }

.navbar .navbar-collapse {
  text-align: center; }
  .navbar .navbar-collapse .nav-link {
    color: #fdffd8; }

.navbar-toggle-custom {
  background-color: #fdffd8; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(116, 158, 253, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/* LANDING STYLES */
#landing {
  color: #FFFFFF;
  text-align: center; }
  #landing .row {
    height: calc(100vh - 101px); }
  #landing h1 {
    font-size: 3.5rem;
    color: #FFFFFF; }
  #landing p {
    font-size: 1.5rem; }
  #landing .btn {
    width: 150px;
    margin: 5px;
    z-index: 1002;
    border-radius: 25px; }
    #landing .btn:focus {
      box-shadow: none; }
    #landing .btn:hover {
      margin: 3px 5px; }

.btn-custom1 {
  background-color: #fdffd8;
  color: #749efd; }
  .btn-custom1:focus {
    background-color: #fdffd8;
    color: #749efd; }
  .btn-custom1:hover {
    background-color: #faffa5;
    color: #749efd; }

.btn-custom2 {
  background-color: #749efd;
  color: #fdffd8; }
  .btn-custom2:focus {
    background-color: #749efd;
    color: #fdffd8; }
  .btn-custom2:hover {
    background-color: #427bfc;
    color: #fdffd8; }

/* FOOTER */
footer {
  position: fixed; }

.socialIcon {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 1rem; }
  .socialIcon a {
    color: #FFFFFF; }

.fixed-bottom {
  background-color: #333;
  transition: all 0.7s ease-in-out;
  padding: 0; }
  .fixed-bottom #footerWrapper {
    margin: 0 auto; }

.mobileActive {
  transition: all 0.7s ease-in-out;
  background-color: #fdffd8; }
  .mobileActive .socialIcon a {
    color: #749efd; }

@media (min-width: 768px) {
  .socialIcon {
    font-size: 1.5rem; } }
/* GALLERY STYLES */
#accordion {
  padding: 20px;
  margin-bottom: 200px; }

.hidden {
  display: none; }

.lBoxThumb {
  height: auto;
  border-radius: 50%; }

/* CONTACT STYLES */
.contactContent {
  padding: 80px 0;
  color: #000000;
  text-align: center; }
  .contactContent h4 {
    color: #000000; }

#contact h1 {
  padding-top: 50px; }

.yellow-bg {
  background-color: #fefff2; }

.embedly-card {
  background-color: #444;
  padding: 10px 20px; }

/* PRICES STYLES */
#pricesH1 {
  font-size: 4rem;
  padding-top: 20%; }

#pricesH1 + p {
  color: #FFFFFF;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 1.3rem; }

#tables {
  font-family: "Open Sans", sans-serif;
  padding-top: 50px; }

table {
  width: 80%;
  margin: 0 auto 100px;
  text-align: center;
  padding: 20px; }
  table th {
    text-align: center;
    background-color: #d9e4fe; }
  table tr:nth-child(odd) {
    background-color: #fdffd8; }

caption {
  text-align: center; }

.price-header {
  width: 90%;
  margin: 0 auto 50px;
  color: #cdd800;
  text-align: center;
  font-size: 1.3em; }

@media (max-width: 767.98px) {
  #pricesH1 + p {
    font-size: 1rem; } }

/*# sourceMappingURL=app.css.map */
