/* FOOTER */

.socialIcon
	display: inline-block
	font-size: 2rem
	margin-left: 1rem
	a
		color: #FFFFFF

.fixed-bottom
	background-color: transparent
	transition: all 0.7s ease-in-out
	#footerWrapper
		margin: 0 auto

.mobileActive
	transition: all 0.7s ease-in-out
	background-color: $brand-cream
	.socialIcon a
		color: $brand-blue
