/* GALLERY STYLES */

#gallery
	text-align: center
	padding-top: 150px
	h1
		font-size: 2.5rem
	.jumbotron
		background-color: lighten($brand-cream,5%)
		color: $brand-blue

.galleryItem
	display: inline-block
