/* GALLERY STYLES */

#gallery
	text-align: center
	padding-top: 150px
	h1
		color: $brand-blue
	.jumbotron
		background-color: lighten($brand-cream,5%)
		color: $brand-blue
	#landing-wrapper
		color: #FFFFFF
		h1
			color: #FFFFFF
			font-size: 2.5rem


.galleryItem
	display: inline-block

.galleryImage
	margin-bottom: 25px

#galleryContent
	margin-top: 170px
