/* NAV BAR STYLES */

.navbar-custom
	background-color: transparent

#logo-btn
	img
		height: 75px

.nav-item
	font-size: 1.35rem

.navbar .navbar-collapse
	text-align: center
	.nav-link
		color: $brand-cream
	.active
		color: $brand-blue	
